{% extends 'VMBPresentationBundle:Ontology:base.html.twig' %}


{% block h1_title %}
	<div class="row">
		<div class="col-md-10">
			{% if backButtonUrl is defined %}
				<a title="{{"actions.back"|trans}}" class="btn btn-default" href="{{ backButtonUrl }}" >
					<span class="left glyphicon glyphicon-chevron-left" aria-hidden="true" >
					</span>
				</a>
			{% endif %}
			{{ mainTitle }}
		</div>
		<div class="col-md-2">
			<button class="btn save-tags btn-default glyphicon glyphicon-floppy-disk pull-right"  title="{{ "action.save_node"|trans }}"></button>
			<span class="loading_indicator_inline pull-right" style="margin-right:10px;margin-top:9px"></span>
		</div>
{% endblock %}

{% block customScript %}
$('.miller-container').taxonomyBrowser({
  columns: 4,
  columnheight: 450,    
  json         : '{{ asset("bundles/telecomvmb/json/"~ontologyFile~"?p="~random()~"") }}',
  jsonIndex    : '{{ asset("bundles/telecomvmb/json/"~indexFile~"?p="~random()~"") }}',
  save		   : '{{ path("ontology_index_save") }}',
  source       : 'json',
  videoID	   : {{ videoID|json_encode|raw }},
  ontologyMode : 'add',
  id 		   : '{{id}}'      
});
{% endblock %}

{% block buttons %}
	<div style="display:block; clear:both;">
		<div class = "main-top-menu">	
		</div>
	</div>
	
	<div style="display:block; clear:both;">
		<ul id="myTags">
		</ul>
	</div>
{% endblock %}

{% block uiDialogs %}
	<!-- ui dialog for add or edit node -->
	<div id="dialog-add-text" class = "dialog-ui" title="Enter a value">
		<form>
			<fieldset>
				<ul>
					<li class = "dialog-li">
						<label id = "text-value-label" for="text-value">Value Attribute</label>
						<input type="text" name="text-value" id="text-value" class="text ui-widget-content ui-corner-all">
						<ul id="multiple-text-value">
						</ul>
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
{% endblock %}
