{% extends '::layout.html.twig' %}

{% block body %}
    <div style="margin-bottom: 20px;" class="row">
        <form action="{{ path('ontology_index') }}" method="get" id="main-form">
            <div class="col-md-7">
                <select name="video[]" id="video" style="min-height:180px;" class="form-control" multiple>
                    {% for video in videos %}
                    <option value="{{video.id}}">{{video.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-7" style="margin-left:10px; margin-top:10px">
				<select name="ontology" id="ontology" class="form-control">
				{% for ontology in ontologies %}
					<option value="{{ontology.id}}">{{ontology.name}}</option>
				{% endfor %}
				</select>
			</div>
            <div class="col-md-5" style="margin-top: 4px; margin-left: 10px;">
                <button class="btn btn-primary" type="submit">Index video</button>
            </div>
    </div>
{% endblock %}