<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {# force Internet Explorer to use the latest rendering engine available #}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		{# mobile meta (hooray!) #}
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		{# icons & favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/)  #}
		<link rel="apple-touch-icon" href="{{ asset('apple-icon-touch.png') }}">
		<link rel="icon" href="{{ asset('favicon.png') }}">
		<!--[if IE]>
			<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		<![endif]-->
		
        <title>{% block title %}VMB{% endblock %}</title>
        {% block stylesheets %}
			<!-- Latest compiled and minified CSS -->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
			<link rel='stylesheet' id='stylesheet-css'  href='{{ asset('css/style.css') }}' type='text/css' media='all' />
        {% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
		<header>
			<div class="header row container">
				<div class="header-actions" role="navigation">
					<div class="pull-right">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<div class="btn-group">
								<a class="btn btn-default">
									<span class="header-user">{{ app.user.username }}</span> 
								</a>
								<a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
									<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
								</a>
							</div>
						{% else %}
							<a class="btn btn-success" href="{{ path("fos_user_registration_register")  }}">S'inscrire</a>
							<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Connexion</a>
						{% endif %}
					</div>
				</div>
				<h3><a href="{{ path('vmb_homepage') }}">VMB</a></h3>
				<form class="top-search-form" accept-charset="UTF-8" action="/search" method="get">
					<input class="form-control search-input" name="q" placeholder="Recherche" type="text">
				</form>
				<ul class="header-nav left" role="navigation">
					<li class="header-nav-item">
						<a class="header-nav-link" href="#">Présentations</a>
					</li>
					<li class="header-nav-item">
						<a class="header-nav-link" href="#">Outils</a>
					</li>
					<li class="header-nav-item">
						<a class="header-nav-link" href="#">À propos</a>
					</li>
				</ul>
			</div>
		</header>
      
		<div class="container">
			{% block h1_title %}{% endblock %}
			{% block body %}{% endblock %}

			<!--
			<div class="jumbotron">
			<h1>Jumbotron heading</h1>
			<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
			</div>

			<div class="row marketing">
			<div class="col-lg-6">
			<h4>Subheading</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

			<h4>Subheading</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			<h4>Subheading</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>

			<div class="col-lg-6">
			<h4>Subheading</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

			<h4>Subheading</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			<h4>Subheading</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
			</div>
			-->

			<footer class="footer">
				<p>&copy; VMB 2015</p>
			</footer>
		</div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		{% block script %}
			<script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
