{% extends '::layout.html.twig' %}
{# Hereafter the assumption is made that 
	ressources are searched for by default #}
{% set stripBodyHeader = true %}
{% block header %}
<h3 class="page-header" style="margin-top:20px;">
	<div class="row">
	<div class="col-md-7">
		<a title="{{"actions.back"|trans}}" class="btn btn-default" href="{{ backButtonUrl }}" >
			<span class="left glyphicon glyphicon-chevron-left" aria-hidden="true" >
			</span>
		</a>
		{{"search.resultsTitle"|trans}} {{"for"|trans}} "{{query}}"
	</div>
	<div class="col-md-5">
		{# Entity type selection #}
		<div class="btn-group" role="group" aria-label="Type Selection">
			{# Initial button style logic #}
			{% if presentations is empty %}
				{% set pres_style = 'default" disabled' %}
			{% elseif presentations is not empty 
				and resources is not empty %}
				{% set pres_style = 'default' %}
			{% else %}
				{% set pres_style = 'primary' %}
			{% endif %}

			{% set res_style = resources is empty ? 
				'default" disabled' : "primary" %}

			<button type="button" id="pres_select" class="btn btn-{{pres_style}}" >
				{{"menu.presentations"|trans}} <span class="badge">{{presentations|length}}</span>
			</button>
			<button type="button" id="res_select" class="btn btn-{{res_style}}">
				{{"menu.resources"|trans}} <span class="badge">{{resources|length}}</span>
			</button>
		</div>
		{# View transformation selection #}
		<div class="btn-group pull-right" role="group" aria-label="View Selection">
			<button type="button" class="btn" id="list_view">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
			<button type="button" class="btn btn-primary" id="mosaic_view">
				<span class="glyphicon glyphicon-th-large"></span>
			</button>
		</div>
	</div>
</div>
</h3>
{% endblock %}

{% block body %}
<div id="resources_container">
	{# Table header #}
	<div id="tbl_header" style="display: none;">
	    <div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">			
					<div class="col-md-4">{{ 'table.title'|trans }}</div>
					<!-- type -->
					<div class="col-md-1 text-center">{{ 'table.duration'|trans }}</div>
					<div class="col-md-2 text-center">{{ 'table.action'|trans }}</div>
	        	</div>
			</div>
		</div>	
	</div>
	{% for r in resources %}
		{% include "VMBResourceBundle:Resource:resourceVignette.html.twig" with {'entity' : r, 'nbPerPage' : 12, 'page':1} %}
	{% endfor %}
	</div>
<div id="presentations_container"> {# Titre, duree, auteur, matrice#}
	{% for p in presentations %}
		{% include "VMBPresentationBundle:Presentation:presentationVignette.html.twig" with {'entity' : p, 'nbPerPage' : 12, 'page':1} %}
	{% endfor %}
</div>
</div>
{% if presentations is empty and resources is empty %}
<div class="col-md-12 text-center">
	<h1><em>{{ 'search.no_results'|trans }}</em>
	</h1>
	<br/><br/>
</div>
{% endif %}
{% endblock %}

{% block script %}
	{{parent()}}
	{# TODO: Include caddy.js #}
	<script type="text/javascript">
	var view_switch = 0; // 0 for Mosaic, 1 for List
	var typ_switch = 0; // 0 for Resources, 1 for Presentations
	var view_matrix=[[['a1','a2'],['b1','b2']],
						[['c1','c2'],['d1','d2']]];
	console.log(secondary_view);
	var typ_enum = ["resources_container", "presentations_container"];
	// [1-view_switch]
	{#
	{% for r in resources %}
		{% include "VMBResourceBundle:Resource:resourceListItem.html.twig" with {'entity' : r} %}
	{% endfor %}

	{% for p in presentations %}
		{% include "VMBPresentationBundle:Presentation:presentationListItem.html.twig" with {'entity' : p} %}
	{% endfor %}
	#}
	// Init with Resources as Mosaic
	$(function(){
		$("#presentations_container").hide();
	});
	// Entity type selection
	$("#pres_select").on('click', 
		function(){
			$(this).addClass("btn-primary");
			$("#res_select").removeClass("btn-primary");
			$("#resources_container").hide();
			$("#presentations_container").show();
			typ_switch = 0;
	});

	$("#res_select").on('click', 
		function(){
			$(this).addClass("btn-primary");
			$("#pres_select").removeClass("btn-primary");
			$("#presentations_container").hide();
			$("#resources_container").show();
			typ_switch = 1;
	});
	// View transformation
	$("#list_view").on('click', function(){
		switchView("#list_view", "#mosaic_view");
	});
	$("#mosaic_view").on('click', function(){
		switchView("#mosaic_view", "#list_view");
	});

	function switchView(from, to)
	{
		$(to).removeClass("btn-primary");
		$(from).addClass("btn-primary");
		// Toggle table header
		if(to.substring("list")){
			$("#tbl_header").show();
		} else {
			$("#tbl_header").hide();
		}
		// Save current content as secondary view
		secondary_view[view_switch][typ_switch].push(
			$("#"+typ_enum[typ_switch]).html()
		);
		// Empty container from old view
		$("#"+typ_enum[typ_switch]).detach();
		// Switch current view value
		view_switch = 1 - view_switch;
		// Attach new content to container - listify
		$("#"+typ_enum[typ_switch]).html(
			secondary_view[view_switch][typ_switch]
		);
	}
	</script>
{% endblock %}