{% extends '::layout.html.twig' %}

{% block h1_title %}
	<div class="row">
		<div class="col-md-9">
			{{ mainTitle }}
		</div>
		<div class="col-md-3 text-right">
			<a class="btn btn-default" href="{{ path('resource_new') }}" title="{{'actions.import'|trans }}">
				<span class="left glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a>
		</div>
	</div>
{% endblock %}

{% if page == 1 and (nbPages == 0 or nbPages == 1) %}
	{% set skipPagination = true %}
{% endif %}

{% block body %}
	<div class="row">
		<div class="col-md-3">
			{% include "VMBResourceBundle:Resource:browsePanel.html.twig" %}
		</div>
		<div class="col-md-9">
			<div class="row">
				{% for entity in entities %}
					{% include "VMBResourceBundle:Resource:resourceVignette.html.twig" with {'entity' : entity} %}
				{% else %}
					<div class="col-md-12 text-center">
						<em>{{ 'message.resource.none_for_this_search'|trans }}</em>
						<br/><br/>
					</div>
				{% endfor %}
			</div>
			{% if skipPagination is not defined %}
			{% include '::pagination.html.twig' %}
			{% endif %}
		</div>
    </div>  
    <br/>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script>
		$(function() {
			if($('.collapse.in').length) {
				currentElt = $('.collapse.in');
				while($(currentElt).attr('data-level') != "0") {
					currentElt = $(currentElt).parent().closest('.collapse');
					currentElt.addClass('in');
					var id = $(currentElt).attr("id").split("collapseListGroup")[1];
					$('a[href="#collapseListGroup'+id+'"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down')
				}
			}
			var group_ids = [];
			{% for e in topics if e.__children is not empty %}
			group_ids.push({{e.id}});
			{% endfor %}
			$.each(group_ids, function(i, v){		
				var c = $('#collapseListGroup'+v);
				c.on('shown.bs.collapse', function(){
					$('a[aria-expanded="true"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down');
				});
				c.on('hidden.bs.collapse', function(){
					$('a[aria-expanded="false"] > span')
					.removeClass('glyphicon-chevron-down')
					.addClass('glyphicon-chevron-right');			
				});
			});

		});
</script>
{% include '::addToCaddy.html.twig' %}
{% endblock %}