{% extends '::layout.html.twig' %}

{% block h1_title %}
	<div class="row">
		<div class="col-md-9">
			{{ mainTitle }}
		</div>
		<div class="col-md-3 text-right">
			<a class="btn btn-default" href="{{ path('resource_new') }}">
				{{ 'actions.import'|trans }} <span class="left glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a>
		</div>
	</div>
{% endblock %}

{% if page == 1 and nbPages == 0 or nbPages == 1 %}
	{% set skipPagination = true %}
{% endif %}

{% block body %}
	<div class="row">
		<div class="col-md-3">
			<div class="browse-topics">
				<h3>{{ 'browse.parameters_title'|trans }}</h3>
				<hr/>
				<h4>{{ 'browse.filters'|trans }}</h4>
				<div class="row filter">
					<div class="col-md-10">{{ 'browse.official_only'|trans }} </div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'official':((app.request.get('official') + 1) % 2)|default(1)})) }}" class="switch">
							{% if app.request.get('official')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<div class="row filter">
					<div class="col-md-10">{{ 'browse.personal_resources'|trans }} </div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'personal':((app.request.get('personal') + 1) % 2)|default(1)})) }}" class="switch">
							{% if app.request.get('personal')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok checkedRes"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<h4>{{ 'menu.topics'|trans }}</h4>
				{% include "VMBResourceBundle:Resource:topicLink.html.twig" with {'links': topics, 'current': topic.id|default(null)} %}
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				{% for entity in entities %}
				<div class="col-md-4">
					<a class="thumbnail-link" href="{{ path('resource_show', app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page':null, 'position': nbPerPage*(page-1) + loop.index, 'id': entity.id })) }}">
						<div class="thumbnail block-browse block-resource">
							<div class="thumbnail-description">
								<h4>{{ 'form.label.description'|trans }}</h4>
								<hr/>
								<p>{{ entity.description | shortenText(160, "...")  }}</p>
							</div>
							<img data-holder-rendered="true" src="{{ asset(entity.getThumbsPath) }}" style="height: 155px; width: 100%; display: block;" />
						
							<div class="caption">
								<h3 class="thumbnail-label"><span class="glyphicon glyphicon-{{ entity.getGlyphicon }}"></span> {{ entity.title | shortenText(60, "...") }}</h3>
							</div>
							{% if entity.getGlyphicon == "film" %}
							<div class="duration">
								{{ entity.durationToString }}
							</div>
							{% endif %}
							<div class="caddy-icon {% if entity.getGlyphicon != "film" %}col-md-offset-3{% endif %}">
								<span class="loading_indicator_inline loading_indicator_{{entity.id}}"></span>
								<div class="btn-group " role="group" aria-label="...">
									{% if is_granted('ROLE_ADMIN') or entity.isOwner(app.user) %}
										<a title="{{"resource.edit"|trans|desc('Edit')}}" href="{{ path('resource_edit', { 'id': entity.id }) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>					
										<a title="{{"resource.index"|trans|desc('Index')}}" href="#" type="button" class="btn btn-{% if entity.indexed %}success{% else %}default{% endif %}" data-toggle="modal" data-target="#modal-tag-{{ entity.id }}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>{# Un-index ressource pls - with confirmation dialog #}					
										<a title="{{"resource.delete"|trans|desc('Delete')}}" href="{{ path('resource_delete', { 'id': entity.id }) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>					
									{% else %}
										<a type="button" class="btn {% if app.user.resourceIsInCaddy(entity) %}btn-info{% else %}btn-default{% endif %} resourceAddToCaddy" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-star"></span></a>
									{% endif %}
								</div>
							</div>
							
							<!-- Modal -->
							<div class="modal fade" id="modal-tag-{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-tag-label-modal-tag-{{ entity.id }}" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="modal-tag-label-{{ entity.id }}">Indexer une ressource</h4>
								  </div>
								  <div class="modal-body">
									  {{ 'message.ontology.modal'|trans }}
									  <hr/>
									  <ul>
									  {% for t in entity.topic %}
										<li>{{ t.title }}
											<ul>
											{% for o in t.ontologies %}
												<li><a href="{{ path('ontology_index', {'video[]': entity.id, 'ontology': o.id}) }}">{{ o.name }}</a></li>
											{% else %}
												<li><em>{{ 'message.ontology.none_for_this_topic'|trans }}</em></li>
											{% endfor %}
											</ul>
										</li>
									  {% endfor %}
									  </ul>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'actions.close'|trans }}</button>
								  </div>
								</div>
							  </div>
							</div>
						</div>
					</a>
				</div>
				{% else %}
					<div class="col-md-12 text-center">
						<em>{{ 'message.resource.none_for_this_search'|trans }}</em>
						<br/><br/>
					</div>
				{% endfor %}
			</div>
			{% if skipPagination is not defined %}
			{% include '::pagination.html.twig' %}
			{% endif %}
		</div>
    </div>  
    <br/>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script>
		$(function() {
			if($('.collapse.in').length) {
				currentElt = $('.collapse.in');
				while($(currentElt).attr('data-level') != "0") {
					currentElt = $(currentElt).parent().closest('.collapse');
					currentElt.addClass('in');
					var id = $(currentElt).attr("id").split("collapseListGroup")[1];
					$('a[href="#collapseListGroup'+id+'"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down')
				}
			}
			var group_ids = [];
			{% for e in topics if e.__children is not empty %}
			group_ids.push({{e.id}});
			{% endfor %}
			$.each(group_ids, function(i, v){		
				var c = $('#collapseListGroup'+v);
				c.on('show.bs.collapse', function(){
					$('a[href="#collapseListGroup'+v+'"] > span')
					.removeClass('glyphicon-chevron-right')
					.addClass('glyphicon-chevron-down');
				});
				c.on('hide.bs.collapse', function(){
					$('a[href="#collapseListGroup'+v+'"] > span')
					.removeClass('glyphicon-chevron-down')
					.addClass('glyphicon-chevron-right');			
				});
			});

		});
</script>
{% include '::addToCaddy.html.twig' %}
{% endblock %}
