{% extends "::Backend/subPage.html.twig" %}

{% block body %}

	<div class="alert alert-danger" role="alert">
	  <strong>{{ "message.title.warning"|trans|desc('Warning') }}</strong> : {{ "message.delete"|trans({'%title%': entityTitle})|desc('You chose to delete %title%, are you sure ?') }}<br/>
	</div>

	<form method="post">
		<div class="btn-group">
		  <a href="{{ backButtonUrl }}" class="btn btn-default">{{ "actions.cancel"|trans|desc('Cancel') }}</a>
		</div>
		<div class="btn-group">
			<input type="submit" class="btn btn-primary" value="{{ "actions.confirm"|trans|desc('Confirm') }}">
		</div>
	</form>
	<br/>
{% endblock %}
