{% extends app.request.isXmlHttpRequest ? '::minimum.html.twig' : "::layout.html.twig" %}

{% block title %}
  {{ mainTitle }} - {{ parent() }}
{% endblock %}

{% set nbActions = ((saveButton is defined) ? 1.5 : 0) + ((saveToCaddy is defined) ? 1.5 : 0) + ((forkButtonUrl is defined) ? 1 : 0) + ((addButtonUrl is defined) ? 1 : 0) + ((editButtonUrl is defined) ? 1 : 0) + ((delButtonUrl is defined) ? 1 : 0) %}

{% if nbActions > 3 %}
	{% set colWidth = 3 %}
{% else %}
	{% set colWidth = 2 %}
{% endif %}

{% block h1_title %}
	<div class="row">
		<div class="col-md-{{ 12 - colWidth }}">
			{% if backButtonUrl is defined %}
				<a title="{{"actions.back"|trans}}" class="btn btn-default" href="{{ backButtonUrl }}" >
					<span class="left glyphicon glyphicon-chevron-left" aria-hidden="true" >
					</span>
				</a>
			{% endif %}
			{{ mainTitle | shortenText(100, "...")}}
		</div>
		<div class="col-md-{{ colWidth }} text-right">
			{% if (saveButton is defined) or (saveToCaddy is defined) %}
				<span class="loading_indicator_inline {% if entity is defined %}loading_indicator_{{entity.id}}{% endif %}">
				</span>
			{% endif %}
			<div class="btn-group" role="group" aria-label="...">
				{% if editButtonUrl is defined %}
					<a title="{{ "actions.edit"|trans }}" class="btn btn-default" 
					{% if editModal is defined %} 
						data-toggle="modal" data-target="{{ editModal }}" 
						{% else %} 
						href="{{ editButtonUrl }}" 
					{% endif %} >
					<span class="left glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				{% endif %}
				{% if saveToCaddy is defined %}
					<a title="{{ "menu.bookmark"|trans }}" class="btn {% if inCaddy %}btn-info{% else %}btn-default{% endif %} {{ saveToCaddy }}AddToCaddy" data-id="{{ entity.id }}" id="caddy-btn">
						<span class="left glyphicon glyphicon-star" aria-hidden="true"></span>
					</a>				
				{% endif %}
				{% if saveButton is defined %}
					<a class="btn btn-default" id="save-btn" title="{{ "actions.save"|trans }}">
						<span class="left glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					</a>
				{% endif %}
				{% if addButtonUrl is defined %}
					{# Modular addButtonTitle defined in controllers#}
					<a title="{{ "actions.add"|trans }}" class="btn btn-default" 
					{% if addModal is defined %} 
						data-toggle="modal" data-target="{{ addModal }}" 
					{% else %} 
						href="{{ addButtonUrl }}" 
					{% endif %} >
						<span class="left glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
				{% endif %}
				{% if optionButtonModal is defined %}
					<a title="{{ "actions.options"|trans }}" class="btn btn-default" data-toggle="modal" data-target="{{ optionButtonModal }}">
						<span class="left glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
					</a>
				{% endif %}
				{% if forkButtonUrl is defined %}
					<a title="{{ "actions.duplicate"|trans }}" class="btn btn-default" href="{{ forkButtonUrl }}" >
						{#<span class="left glyphicon glyphicon-duplicate" aria-hidden="true"></span> #}
						<img width="10px" height="16px" src="{{asset('img/git-branch.svg')}}"></img>
					</a>
				{% endif %}
				{% if delButtonUrl is defined %}
					<a title="{{ "actions.delete"|trans }}" class="btn btn-default" href="{{ delButtonUrl | raw }}" >
						<span class="left glyphicon glyphicon-remove" aria-hidden="true"></span>
					</a>
				{% endif %}
				{% if exportAssetUrl is defined %}
					<a href="{{ asset(exportAssetUrl) }}" title="{{ "player.new_tab"|trans }}" id="xptr_url" target="_blank" class="btn btn-default">
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>	
{% endblock %}


{% block script %}
	{{ parent() }}
	{% if (saveToCaddy is defined) %}
		{% include '::addToCaddy.html.twig' %}
	{% endif %}
{% endblock %}
