{% extends '::layout.html.twig' %}


{% block h1_title %}
	<div class="row">
		<div class="col-md-8">
			{{ mainTitle }}
		</div>
		<div class="col-md-4 text-right">
			<div class="btn-group">
				<a href="{{ path('caddy_show_presentation') }}" class="btn btn-{% if display == 'presentation' %}primary{% else %}default{% endif %}">
					Présentations
				</a>
				<a href="{{ path('caddy_show_resource') }}" class="btn btn-{% if display == 'resource' %}primary{% else %}default{% endif %}" href="/VMB/vmb/web/app_dev.php/logout">
					Ressources
				</a>
			</div>
		</div>
	</div>	
{% endblock %}

{% block body %}
    <div class="row">
		{% if display == 'presentation' %}
			{% for entity in app.user.presentation %}
			<div class="col-md-3" id="presentation{{entity.id}}">
				<a class="thumbnail-link" href="{{ path('presentation_show', { 'id': entity.id }) }}">
					<div class="thumbnail block-browse block-presentation">
						<div class="thumbnail-description">
							<h4>Description</h4>
							<hr/>
							<p>{{ entity.description | shortenText(160, "...") }}</p>
						</div>
						<img data-holder-rendered="true" src="{{ asset(entity.getThumbsPath) }}" style="height: 155px; width: 100%; display: block;" />
							<div class="caption">
								<h3 class="thumbnail-label">{{ entity.title | shortenText(60, "...") }}</h3>
							</div>
							<div class="duration">
							{{ entity.durationToString }}
							</div>
				</a>
							<div class="caddy-icon" id="{{entity.id}}">
								<button title="{{"caddy.remove"|trans}}" class="btn btn-danger" onclick="askConfirm('presentation', {{entity.id}})">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
						</div>
					</div>
				
			</div>
			{% else %}
				<div class="col-md-12 text-center">
					<em>Aucune présentation dans cet espace</em>
					<br/><br/>
				</div>
			{% endfor %}
		{% else %}
			{% for entity in app.user.resource %}
			<div class="col-md-3" id="resource{{entity.id}}">
					<div class="thumbnail block-browse block-resource">
						<a class="thumbnail-link" href="{{ path('resource_show', { 'id': entity.id }) }}">
						<div class="thumbnail-description">
							<h4>Description</h4>
							<hr/>
							<p>{{ entity.description | shortenText(160, "...")  }}</p>
						</div>

				
						<img data-holder-rendered="true" src="{{ asset(entity.getThumbsPath) }}" style="height: 155px; width: 100%; display: block;" />
					
						<div class="caption">
							<h3 class="thumbnail-label"><span class="glyphicon glyphicon-{{ entity.getGlyphicon }}"></span> {{ entity.title | shortenText(70, "...") }}</h3>
						</div>
						</a>
						
						{% if entity.getGlyphicon == "film" %}
							<div class="duration">
								{{ entity.durationToString }}
							</div>
						{% endif %}
						<div class="caddy-icon {% if entity.getGlyphicon != "film" %}col-md-offset-3{% endif %}" id="{{entity.id}}">
							<button title="{{"caddy.remove"|trans}}" class="btn btn-danger" onclick="askConfirm('resource', {{entity.id}})"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-md-12 text-center">
					<em>{{"resource.none_found_in_this_space" | trans}}</em>
					<br/><br/>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block script %}
	{{ parent() }}
	{% include '::addToCaddy.html.twig' %}
	<script>
		function askConfirm(type, id)
		{
			$("#"+id+" > button").hide();
			$("#"+id).append('<a onclick="deleteBookmark('+'\''+type+'\','+id+')">{{"actions.confirm"|trans}}</a> <strong>/</strong> <a onclick="showDelButton(\''+id+'\')">{{"actions.cancel"|trans}}</a>');
		}
		// TODO: show "empty space" message when all bookmarks have been deleted
		function deleteBookmark(typ, idd)
		{
			var u = typ == "resource" ? 
			"{{ path('caddy_resource_remove')}}" : "{{ path('caddy_presentation_remove')}}";
			// ajax request and re-arrange UI without vignette
			$.ajax({
				type: "POST",
				url: u,
				data: { id: idd },
				cache: false,
				success: function(data){
					if(data == 'ok') {
						$('#'+typ+idd).hide();
					} else { 
						// data is 'unknown' but we can't add ressource back based on that
						showDelButton(idd);
					}
				},
				failure: function(data){
					showDelButton(idd);
				}
			});    
			return false;
		}
		function showDelButton(id){
			$('#'+id+' > a').remove();
			$('#'+id+' > strong').remove();
			$('#'+id+' > button').show();
		}
	</script>
{% endblock %}