{% extends '::Backend/subPage.html.twig' %}

{% block body %}
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-{% if is_granted('ROLE_TEACHER') %}4{% else %}5{% endif %}">{{ 'table.title'|trans }}</div>
				<div class="col-md-2 text-center">{{ 'table.topic'|trans }}</div>				
				<div class="col-md-2 text-center">{{ 'table.update'|trans }}</div>				
				<div class="col-md-1 text-center">{{ 'table.size'|trans }}</div>	
				{% if is_granted('ROLE_TEACHER') %}<div class="col-md-1 text-center">{{ 'table.official'|trans }}</div>{% endif %}
				<div class="col-md-2 text-center">{{ 'table.action'|trans }}</div>
        	</div>
		</div>
	</div>
	
	<ul class="list-group" id="sortable">
        {% for entity in entities %}
			<li class="list-group-item row">
				<div class="col-md-{% if is_granted('ROLE_TEACHER') %}4{% else %}5{% endif %}"><a href="{{ path('presentation_new', {'idMatrix' : entity.id }) }}">{{ entity.title|shortenText(34, '...') }}</a></div>
                <div class="col-md-2 text-center"><span class="label label-default">{{ entity.topic.title }}</span></div>
                <div class="col-md-2 text-center">{% if entity.dateUpdate %}{{ entity.dateUpdate|date('d/m/y') }}{% endif %}</div>
                <div class="col-md-1 text-center"><span class="label label-info">{{ entity.dimension }}</span></div>
                {% if is_granted('ROLE_TEACHER') %}
                <div class="col-md-1 text-center">
					{% if entity.official %}
						<span class="label label-success">{{ 'label.yes'|trans }}</span>
					{% else %}
						<a href="{{ path('matrix_official', {'id' : entity.id}) }}" class="switch">
							<span class="shown-value label label-danger">{{ 'label.no'|trans }}</span>
							<span class="hidden-value label label-success">{{ 'label.yes'|trans }}</span>
						</a>
					{% endif %}
				</div>
				{% endif %}
                <div class="col-md-2 text-center">
					<div class="btn-group" role="group" aria-label="...">
						<a title="{{ "matrix.edit"|trans|desc('Edit') }}" href="{{ path('matrix_show', {'id' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						<a title="{{ "presentation.add"|trans|desc('Add new presentation') }}" href="{{ path('presentation_new', {'idMatrix' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span></a>
						<a title="{{ "matrix.delete"|trans|desc('Delete') }}" href="{{ path('matrix_delete', {'id' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</div>
				</div>
            </li>
        {% else %}
			<li class="list-group-item row">
				<div class="col-md-12 text-center"><em>{{ 'message.no_elt_found'|trans }}</em></div>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
