{% extends '::Backend/subPage.html.twig' %}

{% block body %}
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-5">Titre</div>
				<div class="col-md-2 text-center">Création</div>				
				<div class="col-md-2 text-center">Mise à jour</div>				
				<div class="col-md-1 text-center">Taille</div>				
				<div class="col-md-2 text-center">Action</div>
        	</div>
		</div>
	</div>
	
	<ul class="list-group" id="sortable">
        {% for entity in entities %}
			<li class="list-group-item row">
				<div class="col-md-5"><a href="{{ path('matrix_show', { 'id': entity.id }) }}">{{ entity.title }}</a></div>
                <div class="col-md-2 text-center">{% if entity.dateCreation %}{{ entity.dateCreation|date('d/m/y') }}{% endif %}</div>
                <div class="col-md-2 text-center">{% if entity.dateUpdate %}{{ entity.dateUpdate|date('d/m/y') }}{% endif %}</div>
                <div class="col-md-1 text-center"><span class="label label-info">{{ entity.dimension }}</span></div>
                <div class="col-md-2 text-center">
					<div class="btn-group" role="group" aria-label="...">
						<a href="{{ path('matrix_edit', {'id' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						<a href="{{ path('matrix_show', {'id' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
						<a href="{{ path('matrix_delete', {'id' : entity.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</div>
				</div>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
