{% extends '::Backend/subPage.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-sm-9">
			<table id="sort" class="table table-bordered">
				<tr>
					<th width="15%"></th>
					{% for level in entity.levels %}
					<th class="text-center">{{ level.title }}</th>
					{% endfor %}
				</tr>
				{% for pov in entity.povs %}
				<tr>
					<th class="text-center">{{ pov.title }}</th>
					{% for level in entity.levels %}
					<td class="text-center"></td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table">
				<tbody>
					<tr>
						<th>Description</th>
						<td>{{ entity.description }}</td>
					</tr>
					<tr>
						<th>Création</th>
						<td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
					</tr>
					<tr>
						<th>Mise à jour</th>
						<td>{{ entity.dateUpdate|date('Y-m-d H:i:s') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
