{% extends '::layout.html.twig' %}

{% block h1_title %}
	{{ mainTitle }}
{% endblock %}

{% if page == 1 and nbPages == 0 %}
	{% set skipPagination = true %}
{% endif %}

{% block body %}
	<div class="row">
		<div class="col-md-3">
			<div class="browse-topics">
				<h3>Affiner par</h3>
				<form action="{{ path(app.request.get('_route'), {'topic':topic.id|default(null), 'default':((app.request.get('default') + 1) % 2)|default(1), 'official':app.request.get('official')|default(null)}) }}" method="GET">
					<div class="form-group"><input class="form-control" type="text" name="search" value="{{ search|default() }}" placeHolder="Recherche..." /></div>
				</form>
				<h4>Filtres</h4>
				<div class="row">
					<div class="col-md-10">Présentations par défaut :</div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), {'topic':topic.id|default(null), 'default':((app.request.get('default') + 1) % 2)|default(1), 'official':app.request.get('official')|default(null), 'search':search|default(null)}) }}" class="switch">
							{% if app.request.get('default')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">Officielles uniquement :</div>
					<div class="col-md-2 text-right">
						<a href="{{ path(app.request.get('_route'), {'topic':topic.id|default(null), 'official':((app.request.get('official') + 1) % 2)|default(1), 'default':app.request.get('default')|default(null), 'search':search|default(null)}) }}" class="switch">
							{% if app.request.get('official')|default(0) == 0 %}
								<span class="hidden-value glyphicon glyphicon-ok"></span>
								<span class="shown-value glyphicon glyphicon-minus"></span>
							{% else %}
								<span class="shown-value glyphicon glyphicon-ok"></span>
								<span class="hidden-value glyphicon glyphicon-minus"></span>
							{% endif %}
						</a>
					</div>
				</div>
				<h4>Thématiques</h4>
				{% include "VMBPresentationBundle:Presentation:topicLink.html.twig" with {'links': topics, 'current': topic.id|default(null)} %}
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				{% for entity in entities %}
				<div class="col-md-4">
					<a class="thumbnail-link" href="{{ path('presentation_show', { 'id': entity.id }) }}">
						<div class="thumbnail block-browse block-presentation{% if entity.default %} block-presentation-default{% endif %}">
							<div class="thumbnail-description">
								<h4>Description</h4>
								<hr/>
								<p>{{ entity.description }}</p>
							</div>
							<img data-holder-rendered="true" src="{{ asset(entity.getThumbsPath) }}" style="height: 155px; width: 100%; display: block;" />
						
							<div class="caption">
								<h3 class="thumbnail-label">{{ entity.title }}</h3>
							</div>
							
							<div class="duration">
								{{ entity.durationToString }}
							</div>
							<div class="caddy-icon">
								<span class="loading_indicator_inline loading_indicator_{{entity.id}}"></span>
								<a class="btn {% if app.user.presentationIsInCaddy(entity) %}btn-info{% else %}btn-default{% endif %} presentationAddToCaddy" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
							</div>
						</div>
					</a>
				</div>
				{% else %}
					<div class="col-md-12 text-center">
						<em>Aucune présentation publique dans cet espace pour ces paramètres de recherche</em>
						<br/><br/>
					</div>
				{% endfor %}
			</div>
			{% if skipPagination is not defined %}
			{% include '::pagination.html.twig' %}
			{% endif %}
		</div>
    </div>  
    <br/>
{% endblock %}

{% block script %}
	{{ parent() }}
	
	<script>
	$(function() {
	  if($('.collapse.in').length) {
		  currentElt = $('.collapse.in');
		  while($(currentElt).attr('data-level') != "0") {
			  currentElt = $(currentElt).parent().closest('.collapse');
			  currentElt.addClass('in');
		  }
	  }
	});
	</script>
	{% include '::addToCaddy.html.twig' %}
{% endblock %}

