{% extends '::Backend/subPage.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-sm-5">
			<h4><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Options de la présentation</h4>
			<div id="presentation_options" class="list-group">
			  <a href="#" class="list-group-item active">
				<h4 id="list-group-item-heading" class="list-group-item-heading">Présentation</h4>
			  </a>
			  {% for res in entity.resources %}
				{% if res.suggested %}
					<a href="#" class="list-group-item">
						<h4 id="list-group-item-heading" class="list-group-item-heading">{{ res.usedResource.resource.title }}</h4>
						<p class="list-group-item-text">Suggestion de l'auteur</p>
					</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="col-sm-4">
			<h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Nouvelle liste de lecture</h4>
			{% set totalDuration = 0 %}
			<ul class="list-group" id="file_list">
				{% for res in entity.resources %}
					{% if res.suggested == false %}
						{% set totalDuration = totalDuration + res.usedResource.resource.duration %}
						<li class="list-group-item" id="addedRes_{{ res.usedResource.id }}" data-id="{{ res.usedResource.id }}">
							<div class="row">
								<div class="col-sm-8"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> {{ res.usedResource.resource.title[:20] }}</div>
								<div class="col-sm-4">{{ "%02d"|format(res.usedResource.resource.duration // 60) }}:{{ "%02d"|format(res.usedResource.resource.duration % 60) }}</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<p class="text-center">
				Durée totale : <span id="total_duration">{{ "%02d"|format(totalDuration // 60) }}:{{ "%02d"|format(totalDuration % 60) }}</span>
			</p>
		</div>
		<div class="col-sm-3">
			<h4><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> + d'options</h4>
			<a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Visualisation avancée</a><br/>
			<a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Voir d'autres présentations</a>			
		</div>
    </div>
    <div class="row">
		<div class="col-sm-5 text-center">
			<button role="button" id="addContextualBtn" class="btn btn-primary">Générer du contenu contextuel</button>
		</div>
		<div class="col-sm-4 text-center">
			<a role="button" class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Lancer la nouvelle présentation</a>
		</div>
    </div>
    <hr/>
    <h3>Détails de la présentation</h3>
    <table class="table">
		<tbody>
			<tr>
				<th width="120px">Titre</th>
				<td>{{ entity.title }}</td>
			</tr>
			<tr>
				<th width="120px">Description</th>
				<td>{{ entity.description[:300] }} <span data-prototype="{{entity.description[300:]}}" class="showAll collapsed">...</span></td>
			</tr>
			<tr>
				<th>Création</th>
				<td>{{ entity.dateCreation|date('d/m/y') }}</td>
			</tr>
			<tr>
				<th>Mise à jour</th>
				<td>{{ entity.dateUpdate|date('d/m/y') }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script>
		$(function() {			
			$("#presentation_options .list-group-item").click(function(e) {
				$(this).toggleClass('active');
				$(this).css('outline','0px');				
			});
			
			$("#addContextualBtn").click(function() {
				alert('add Contextual');
			});
		});
	</script>
{% endblock %}
