{% extends '::Backend/subPage.html.twig' %}

{% set hasSuggestions = false %}
{% for res in entity.resources if hasSuggestions == false %}
	{% if res.suggested %}
		{% set hasSuggestions = true %}
	{% endif %}
{% endfor %}

{% block body %}
<form id="new_presentation_form" action="{{ path('presentation_show', {'id': entity.id}) }}" method="post">
    <div class="row">
		<div class="col-sm-5">
			<h4><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Options de la présentation</h4>
			<div id="presentation_options" class="list-group">
				<a href="#" class="list-group-item active">
					<h4 id="list-group-item-heading" class="list-group-item-heading">{{ 'presentation.initial_presentation'|trans }}</h4>
				</a>
				
				{% if hasSuggestions %}
				<a href="#" class="list-group-item suggestion-item">
					<h4 id="list-group-item-heading" class="list-group-item-heading">{{ 'presentation.suggested_presentation'|trans }}</h4>
				</a>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'presentation.new_playlist'|trans }}</h4>
			{% set totalDuration = 0 %}
			<ul class="list-group" id="file_list">
				{% for res in entity.resources %}
					{% if res.suggested == false %}
						{% set totalDuration = totalDuration + res.duration %}
						<li class="list-group-item presentationResource" id="addedRes_{{ res.usedResource.id }}" data-id="{{ res.usedResource.id }}">
							<div class="row">
								<div class="col-sm-8"><span class="glyphicon glyphicon-{{ res.usedResource.resource.getGlyphicon }}" aria-hidden="true"></span> {{ res.usedResource.resource.title[:20] }}</div>
								<div class="col-sm-4 text-right">{{ "%02d"|format(res.duration // 60) }}:{{ "%02d"|format(res.duration % 60) }}</div>
								<input type="hidden" name="usedResource_{{ res.usedResource.id }}" value="1" />
							</div>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<p class="text-center">
				{{ 'show.total_duration'|trans }} : <span id="total_duration">{{ "%02d"|format(totalDuration // 60) }}:{{ "%02d"|format(totalDuration % 60) }}</span>
				<input type="hidden" id="input_duration" name="input_duration" value ="{{totalDuration}}" />
			</p>
		</div>
		<div class="col-sm-3">
			<h4><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> + d'options</h4>
			<a href="{{ path('presentation_create_copy', {'id' : entity.id}) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ 'presentation.advanced_visualisation'|trans }}</a><br/>
			<a href="{{ path('vmb_presentation_browse_topic',  {'topic': entity.topic.id}) }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'presentation.same_topic'|trans }}</a><br/>		
			<a href="{{ path('vmb_presentation_browse_topic',  {'topic': entity.topic.id, 'default':1}) }}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ 'presentation.default_topic'|trans }}</a><br/>		
		</div>
    </div>
    <div class="row">
		<div class="col-sm-5 text-center">
			<button type="button" id="addContextualBtn" class="btn btn-primary">{{ 'presentation.generate_complement'|trans }}</button>
		</div>
		<div class="col-sm-4 text-center">
			<button type="button" id="submit_new_presentation" role="button" class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{ 'presentation.play_selection'|trans }}</button>
		</div>
    </div>
    </form>
    <hr/>
    <h3 class="view-more-title"><a data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">{{ 'presentation.details'|trans }} <span class="glyphicon glyphicon-chevron-down"></span></a></h3>
    <div class="collapse" id="collapseDescription">
		<table class="table">
			<tbody>
				<tr>
					<th width="120px">{{ 'table.title'|trans }}</th>
					<td>{{ entity.title }}</td>
				</tr>
				<tr>
					<th width="120px">{{ 'table.description'|trans }}</th>
					<td>{{ entity.description[:300] }} <span data-prototype="{{entity.description[300:]}}" class="showAll collapsed">...</span></td>
				</tr>
				<tr>
					<th>{{ 'table.creation'|trans }}</th>
					<td>{{ entity.dateCreation|date('d/m/y') }}</td>
				</tr>
				<tr>
					<th>{{ 'table.update'|trans }}</th>
					<td>{{ entity.dateUpdate|date('d/m/y') }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script>
		numComplement = 1;
		hasSuggestions = {% if hasSuggestions %}true{% else %}false{% endif %};
		
		resourcesCollection = {
			{% for usedRes in matrix.resources %}
			{{ usedRes.id }}: {
				'pov': "{{ usedRes.pov.title }}", 
				'level': "{{ usedRes.level.title }}", 
				'shortTitle': "{{ usedRes.resource.title[:20] }}", 
				'glyphicon' : "{{ usedRes.resource.getGlyphicon }}",
				'duration': {{ usedRes.resource.duration|default(11) }},
				'duration_str': "{{ "%02d"|format(usedRes.resource.duration|default(11) // 60) }}:{{ "%02d"|format(usedRes.resource.duration|default(11) % 60) }}"
			},
			{% endfor %}
		};
		
		{% set totalDuration = 0 %}
		resources = [ 
			// Presentation
			{% set firstLoop = true %}
			[ {% for res in entity.resources %}{% if res.suggested == false %}{% set totalDuration = totalDuration + res.duration %}{% if firstLoop %}{% set firstLoop = false %}{% else %}, {% endif %}{{ res.usedResource.id }}{% endif %}{% endfor %} ],
			
			// Suggestions
			{% if hasSuggestions %}
				{% set firstLoop = true %}
				[ {% for res in entity.resources %}{% if res.suggested == true %}{% if firstLoop %}{% set firstLoop = false %}{% else %}, {% endif %}{{ res.usedResource.id }}{% endif %}{% endfor %} ],
			{% endif %}
			
			// Complements
			{% if additionalResourcesId|length > 0 %}
				{% for subList in additionalResourcesId %}
					[ {{ subList|join(',') }} ],
				{% endfor %}
			{% endif %}
		];
		
		totalDuration = {{totalDuration}};
		
		function pad(num, size) {
			var s = num+"";
			while (s.length < size) s = "0" + s;
			return s;
		}
		
		function convertDurationToString(value) {
			return (pad(~~(value / 60), 2)) + ':' + pad((value % 60), 2);
		}
		
		function addToDuration(value) {
			// conv base10
			totalDuration = totalDuration + value;
			$("#total_duration").html(convertDurationToString(totalDuration));
			$('#input_duration').val(totalDuration);
		}
		
		function deleteFromPlaylist(resId) {
			$('#addedRes_' + resId).remove();
			addToDuration(-resourcesCollection[resId]['duration']);
		}
		
		function addToPlaylist(resId, type, prepend) {
			// Default values
			preprend = prepend || false;
			
			addToDuration(resourcesCollection[resId]['duration']);
			
			newElt = '<li class="list-group-item ' + type + 'Resource" id="addedRes_' + resId + '" data-id="' + resId + '"> \
				<div class="row"> \
					<div class="col-sm-8"><span class="glyphicon glyphicon-' + resourcesCollection[resId]['glyphicon'] + '" aria-hidden="true"></span> ' + resourcesCollection[resId]['shortTitle'] + '</div> \
					<div class="col-sm-4 text-right">' + resourcesCollection[resId]['duration_str'] + '</div> \
					<input type="hidden" name="usedResource_' + resId + '" value="1" /> \
				</div> \
			</li>';
			if(prepend) {
				$('#file_list').prepend(newElt);
			}
			else {
				$('#file_list').append(newElt);
			}
		}
		
		function togglePresentationOption(selector) {
			var index = $('#presentation_options .list-group-item').index($(selector)); 
			var type = 'complement';
			if(index == 0) {
				type = 'presentation';
			}
			else if(index == 1) {
				type = 'suggestion';
			}
			
			// If we need to delete elements
			if($(selector).hasClass('active')) {
				$(selector).removeClass('active');
				var i;
				for (i = 0; i < resources[index].length; ++i) {
					deleteFromPlaylist(resources[index][i]);
				}
			}
			// If we need to add elements
			else {
				$(selector).addClass('active');
				var i;
				for (i = 0; i < resources[index].length; ++i) {
					addToPlaylist(resources[index][i], type);
				}
			}
			$(selector).css('outline','0px');
		}
		
		$(function() {			
			$("#presentation_options .list-group-item").click(function(e) {				
				togglePresentationOption(this);				
			});
			
			$("#addContextualBtn").click(function() {
				currentIndex = numComplement + ((hasSuggestions) ? 1 : 0);
				if(currentIndex < resources.length) {
					var resList = resources[currentIndex];
					var newElt = '<a href="#" class="list-group-item suggestion-item" id="contextual_' + numComplement + '"> \
							<h4 id="list-group-item-heading" class="list-group-item-heading">Complément #' + numComplement + '</h4> \
						</a>';
					$("#presentation_options").append(newElt);
					$("#contextual_" + numComplement).click(function(e) {				
						togglePresentationOption(this);				
					});
					numComplement++;
				}
				else {
					alert("Aucun contenu additionel disponible");
				}
			});
			
			$("#submit_new_presentation").click(function() {
				if($('#file_list li').length > 0) {
					$("#new_presentation_form").submit();
				}
				else {
					alert('Aucun élément dans la liste de lecture');
				}
			});
		});
	</script>
{% endblock %}
