{% set addModal = '#modalAddPresentation' %}
{% set addButtonUrl = 'true' %}
{% extends '::Backend/subPage.html.twig' %}

{% if page == 1 and nbPages == 0 %}
	{% set skipPagination = true %}
{% endif %}

{% block body %}
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">				
				<div class="col-md-5">Titre</div>
				<div class="col-md-2 text-center">Auteur</div>			
				<div class="col-md-1 text-center">Publique</div>				
				<div class="col-md-1 text-center">Défaut</div>				
				<div class="col-md-1 text-center">Officiel</div>				
				<div class="col-md-2 text-center">Action</div>
        	</div>
		</div>
	</div>
	
	<ul class="list-group">
        {% for entity in entities %}
			<li class="list-group-item row">
				<div class="col-md-5"><a href="{{ path('presentation_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> {{ entity.title|shortenText(34, '...') }}</a></div>
                <div class="col-md-2 text-center"><em>{{ entity.owner.username|default('unknown') }}</em></div>
                <div class="col-md-1 text-center">
					<a type="button" class="btn switch" href="{{ path('presentation', {'id': entity.id, 'public': (entity.public+1)%2}) }}">
						{% if entity.public==1 %}
							<span class="shown-value glyphicon glyphicon-ok"></span>
							<span class="hidden-value glyphicon glyphicon-minus"></span>
						{% else %}
							<span class="shown-value glyphicon glyphicon-minus"></span>
							<span class="hidden-value glyphicon glyphicon-ok"></span>
						{% endif %}
					</a>
				</div>
				<div class="col-md-1 text-center">
					<a class="switch" href="{{ path('presentation', {'id': entity.id, 'default': (entity.default+1)%2}) }}">
						{% if entity.default == 1 %}
							<span class="shown-value glyphicon glyphicon-ok"></span>
							<span class="hidden-value glyphicon glyphicon-minus"></span>
						{% else %}
							<span class="hidden-value glyphicon glyphicon-ok"></span>
							<span class="shown-value glyphicon glyphicon-minus"></span>
						{% endif %}
					</a>
                </div>
				<div class="col-md-1 text-center">
					{% if entity.official %}
						<span class="label label-success">oui</span>
					{% else %}
						<span class="label label-danger">non</span>
					{% endif %}
				</div>
                <div class="col-md-2 text-center">				
					<div class="btn-group" role="group" aria-label="...">
						<a href="{{ path('presentation_edit', {'id' : entity.id}) }}" type="button" class="btn btn-default" title="Modifier"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						<a href="{{ path('presentation_delete', {'id' : entity.id}) }}" type="button" class="btn btn-default" title="Supprimer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</div>
				</div>
            </li>
        {% else %}
			<li class="list-group-item row">
				<div class="col-md-12 text-center">
					<em>Aucune présentation dans cet espace</em>
					<br/><br/>
				</div>
			</li>
		{% endfor %}
    </ul>
    
    {% if skipPagination is not defined %}
	{% include '::pagination.html.twig' %}
	{% endif %}

{% include 'VMBPresentationBundle:Presentation:modalAddButton.html.twig' %}
    
{% endblock %}
