<!-- Modal -->
<div class="modal fade" id="modalAddPresentation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">{{ 'presentation.add'|trans }}</h3>
      </div>
      <div class="modal-body">
        <h4>{{ 'presentation.modal.from_scratch'|trans }}</h4>
        <p>
			{{ 'presentation.modal.from_scratch_0'|trans }}
		</p>
		<ul>
			<li>{{ 'presentation.modal.from_scratch_1'|trans }}</li>
			<li>{{ 'presentation.modal.from_scratch_2'|trans }}</li>
			<li>{{ 'presentation.modal.from_scratch_3'|trans }}</li>
		</ul>	
		<p>
			<a href="{{ path('matrix_new') }}"><span class="glyphicon glyphicon-chevron-right"></span> {{ 'presentation.modal.create_matrix'|trans }}</a><br/>
			<a href="{{ path('matrix') }}"><span class="glyphicon glyphicon-chevron-right"></span> {{ 'presentation.modal.create_from_matrix'|trans }}</a>
        </p>
        <hr/>
        <h4>{{ 'presentation.modal.from_existing'|trans }}</h4>
        <p>
			{{ 'presentation.modal.from_existing_0'|trans }}
		</p>
		<ul>
			<li>{{ 'presentation.modal.from_existing_1'|trans }} <span class="glyphicon glyphicon-duplicate"></span></li>
			<li>{{ 'presentation.modal.from_existing_2'|trans }}</li>
		</ul>
		<p>
			<a href="{{ path('vmb_presentation_browse') }}"><span class="glyphicon glyphicon-chevron-right"></span> {{ 'presentation.modal.browse_existing'|trans }}</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'actions.close'|trans }} <span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>
</div>
