{% extends '::Backend/subPage.html.twig' %}

{% set firstResource = null %}
{% if alternativeResources|length == 0 %}
	{% if entity.resources|length != 0 %}
		{% for checkedRes in entity.resources if firstResource == null %}
			{% if checkedRes.suggested == 0 %}
				{% set firstResource = checkedRes.usedResource %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% else %}
	{% set firstResource = alternativeResources[0].usedResource %}
{% endif %}

{% block body %}
	<div class="row">
		<div class="col-sm-8">
			{% include 'VMBPresentationBundle:Presentation:player.html.twig' %}
		</div>
		<div class="col-sm-4">
			<h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'show.playlist'|trans }}</h4>
			{% set totalDuration = 0 %}
			<ul class="list-group" id="file_list">
				{% set firstLoop = true %}
				{% if alternativeResources|length == 0 %}
					{% for res in entity.resources %}
						{% if res.suggested == false %}
							{% set totalDuration = totalDuration + res.getDuration %}
							<li class="list-group-item{% if firstLoop %} active{% set firstLoop = false %}{% endif %}" id="addedRes_{{ res.usedResource.id }}" data-id="{{ res.usedResource.id }}">
								<div class="row">
									<div class="col-sm-9"><span class="glyphicon glyphicon-{{ res.usedResource.resource.getGlyphicon }}" aria-hidden="true"></span> <small>{{ res.usedResource.resource.title | shortenText(70, "...") }}</small></div>
									<div class="col-sm-3">{{ "%02d"|format(res.getDuration // 60) }}:{{ "%02d"|format(res.getDuration % 60) }}</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				{% else %}
					{% for res in alternativeResources %}
						{% set totalDuration = totalDuration + res.getDuration %}
						<li class="list-group-item{% if firstLoop %} active{% set firstLoop = false %}{% endif %}" id="addedRes_{{ res.usedResource.id }}" data-id="{{ res.usedResource.id }}">
							<div class="row">
								<div class="col-sm-9"><span class="glyphicon glyphicon-{{ res.usedResource.resource.getGlyphicon }}" aria-hidden="true"></span> <small>{{ res.usedResource.resource.title | shortenText(70, "...")}}</small></div>
								<div class="col-sm-3">{{ "%02d"|format(res.getDuration // 60) }}:{{ "%02d"|format(res.getDuration % 60) }}</div>
							</div>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
			<div class="presentation-controls text-center">
				<div class="btn-group" role="group" aria-label="...">
				  <button id="presentation-prev-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
				  <button id="presentation-play-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
				  <button id="presentation-fullscreen-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></button>
				  <button id="presentation-next-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
				</div>
			</div>
			<p class="text-center">
				{{ 'show.total_duration'|trans }} : <span id="total_duration">{{ "%02d"|format(totalDuration // 60) }}:{{ "%02d"|format(totalDuration % 60) }}</span>
			</p>
			<div class="text-center"><a href="{{ path('presentation_complementary', {'id': entity.id}) }}" type="button" class="btn btn-primary">{{ 'presentation.see_more'|trans }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></div>
			{% if is_granted('ROLE_ADMIN') %}
				<br/>
				<div class="text-center"><a data-toggle="modal" data-target="#modal-tag">{{ 'presentation.playlist_3D'|trans }}</a></div>
				<!-- Modal -->
				<div class="modal fade" id="modal-tag" tabindex="-1" role="dialog" aria-labelledby="modal-tag-label-modal-tag" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modal-tag-label">{{ 'message.playlist_3D.modal_title'|trans }}</h4>
					  </div>
					  <div class="modal-body">
						  {{ 'message.playlist_3D.modal_text'|trans }}
						  <hr/>
						  <a href="{{ path('presentation_download_playlist3d', {'id': entity.id}) }}">{{ 'message.playlist_3D.modal_link'|trans }}</a>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'actions.close'|trans }}</button>
					  </div>
					</div>
				  </div>
				</div>
			{% endif %}
		</div>
	</div>
	<hr/>
	{% if firstResource != null %}
	<div id="additional-infos">
		<h3 class="view-more-title"><a data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">{{ 'show.resource_details'|trans }} <span class="glyphicon glyphicon-chevron-down"></span></a></h3>
		<div class="collapse" id="collapseDescription">
			<table class="table">
				<tbody>
					<tr>
						<th width="120px">{{ 'table.title'|trans }}</th>
						<td id="current-res-title">{{ firstResource.resource.title }}</td>
					</tr>
					<tr>
						<th width="120px">Position</th>
						<td id="current-res-position">{{ firstResource.pov.title }} - {{ firstResource.level.title }}</td>
					</tr>
					<tr>
						<th width="120px">{{ 'table.description'|trans }}</th>
						<td id="current-res-description">{{ firstResource.resource.description }}</td>
					</tr>
					<tr>
						<th>{{ 'table.creation'|trans }}</th>
						<td id="current-res-creation">{{ firstResource.resource.dateCreate|date('d/m/y') }}</td>
					</tr>
					<tr>
						<th>{{ 'table.update'|trans }}</th>
						<td id="current-res-update">{{ firstResource.resource.dateUpdate|date('d/m/y') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
{% endblock %}


{% block script %}
	{{ parent() }}
	<script>
	/* ************************************************ */
	/* *****************DATA DECLARATION*************** */
	/* ************************************************ */
		
	// Resources data (registered by id)
	resourcesCollection = {
		{% if alternativeResources|length == 0 %}
			{% for res in entity.resources %}
				{% if res.suggested == false %}
					{{ res.usedResource.id }}: {
						'pov': "{{ res.usedResource.pov.title }}", 
						'level': "{{ res.usedResource.level.title }}", 
						'title': "{{ res.usedResource.resource.title }}", 
						'description': "{{ res.usedResource.resource.description }}", 
						'creation': "{{ res.usedResource.resource.dateCreate|date('d/m/y') }}", 
						'update': "{{ res.usedResource.resource.dateUpdate|date('d/m/y') }}", 
						'duration': {{ res.getDuration|default(11) }},
						'duration_str': "{{ "%02d"|format(res.getDuration // 60) }}:{{ "%02d"|format(res.getDuration % 60) }}",
						'src': "{{ asset(res.usedResource.resource.getResourcePath) }}",
						'type': "{{ res.usedResource.resource.type }}"
					},
				{% endif %}
			{% endfor %}
		{% else %}
			{% for res in alternativeResources %}
				{{ res.usedResource.id }}: {
					'pov': "{{ res.usedResource.pov.title }}", 
					'level': "{{ res.usedResource.level.title }}", 
					'title': "{{ res.usedResource.resource.title }}", 
					'description': "{{ res.usedResource.resource.description }}", 
					'creation': "{{ res.usedResource.resource.dateCreate|date('d/m/y') }}", 
					'update': "{{ res.usedResource.resource.dateUpdate|date('d/m/y') }}", 
					'duration': {{ res.getDuration|default(11) }},
					'duration_str': "{{ "%02d"|format(res.getDuration // 60) }}:{{ "%02d"|format(res.getDuration % 60) }}",
					'src': "{{ asset(res.usedResource.resource.getResourcePath) }}",
					'type': "{{ res.usedResource.resource.type }}"
				},
			{% endfor %}
		{% endif %} 
	};
	
	// Resources order
	resourcesOrder = [ {% if alternativeResources|length == 0 %}
			{% for res in entity.resources %}
				{% if res.suggested == false %}
					{{ res.usedResource.id }},
				{% endif %}
			{% endfor %}
		{% else %}
			{% for res in alternativeResources %}
				{{ res.usedResource.id }},
			{% endfor %}
		{% endif %} ];
		
	/* ************************************************ */
	/* ******************DEFINING TIMER**************** */
	/* ************************************************ */
	
	// Timer object so that we can stop and resume anytime we need it
	function Timer(callback, delay, start) {
		start = typeof start !== 'undefined' ? start : true;
		
		var timerId, start, remaining = delay, duration = delay;

		this.pause = function() {
			window.clearTimeout(timerId);
			remaining -= new Date() - start;
		};

		this.resume = function() {
			start = new Date();
			window.clearTimeout(timerId);
			timerId = window.setTimeout(callback, remaining);
		};
		
		this.getCurrentTime = function() {
			return (duration - remaining);
		};

		if(start) {
			this.resume();
		}
	}
	
	/* ************************************************ */
	/* ******************DEFINING PLAYER*************** */
	/* ************************************************ */
	
	// Player object
	function Player(presentation) {
		this.presentation = presentation;
		this.resource = null;
		this.playing = false;
		this.mediaPlayer = {
			'video': document.querySelectorAll('.video_player')[0].plyr,
			'audio': document.querySelectorAll('.audio_player')[0].plyr
		};
		this.timer = null; // needed if we're not using a media player with an ending event
		
		this.isPlaying	   = function()	{ return this.playing; };
		this.resourceEnded = function() { this.presentation.next(); };
		$(this.mediaPlayer['video'].media).bind('ended',   function(){ this.resourceEnded(); }.bind(this));
		$(this.mediaPlayer['audio'].media).bind('ended',   function(){ this.resourceEnded(); }.bind(this));
	}	
	
	// Reset the timer (checks if it exists)
	Player.prototype.clearTimer = function() {
		if(this.timer != null) {
			this.timer.pause();
			this.timer = null;
		}
	}
	
	// Return the current time relative to the resource being played
	Player.prototype.getCurrentTime = function() {
		if(type == 'video' || type == 'audio') {
			return this.mediaPlayer[type].media.currentTime;
		}
		else if(this.timer != null) {
			this.timer.getCurrentTime();
		}
		else {
			return null;
		}
	}
	
	// Method that hides and resets a player
	Player.prototype.hide = function(type) {
		if(type == 'video' || type == 'audio') {
			this.mediaPlayer[type].pause();
		}
		else {
			this.clearTimer();
			if(type == 'image') {
				$('.image_player img').attr('src', '');
			}
			else if(type == 'application' || newType == 'text') {
				$('.file_player iframe').attr('src', '');
				type = 'file';
			}
		}
		$('.' + type + '_player').hide();
	}
	
	// Method that shows a player
	Player.prototype.show = function(type) {
		if(type == 'application' || type == 'text') {
			type = 'file';
		}
		$('.' + type + '_player').show();
	}
	
	// Method that plays the current resource
	Player.prototype.play = function() {
		this.playing = true;
		if(this.resource.type == 'audio' || this.resource.type == 'video') {
			// We just play the media
			this.mediaPlayer[this.resource.type].play();
		}
		else {
			// If we need to trigger the end manually, we release the timer
			this.timer.resume();
		}
	}
	
	// Method that stops the current resource
	Player.prototype.pause = function() {
		this.playing = false;
		if(this.resource.type == 'audio' || this.resource.type == 'video') {
			// We just play the media
			this.mediaPlayer[this.resource.type].pause();
		}
		else {
			// If we need to trigger the end manually, we release the timer
			this.timer.pause();
		}
	}
	
	// Method that setup a resource and plays it if the player was already playing
	Player.prototype.setResource = function(resource) {
		if(this.resource != resource) {
			// Modifies the player that is currently shown
			if(this.resource == null || this.resource.type != resource.type) {
				if(this.resource != null) {
					this.hide(this.resource.type);
				}
				this.show(resource.type);
			}
			
			// Setup depending on the new player
			if(resource.type == 'audio' || resource.type == 'video') {
				this.mediaPlayer[resource.type].source(resource.src);
			}
			else {
				// We setup the duration
				this.timer = new Timer(function(){ this.resourceEnded(); }.bind(this), resource.duration*1000, false);
				
				// Then we setup the content	
				if(resource.type == 'image') {
					$('.image_player img').attr('src', resource.src);
					$('.image_player a').attr('href', resource.src);
				}
				else {
					$('.file_player iframe').attr('src', resource.src);
					$('.file_player a').attr('href', resource.src);
				}
			}
			this.resource = resource;
			
			// If we were already playing before, we continue
			if(this.playing) { this.play();	}
		}
	}
	
	/* ************************************************ */
	/* **************DEFINING PRESENTATION************* */
	/* ************************************************ */
		
	// Presentation object
	function Presentation(resources, order) {
		this.resources = resources;
		this.order = order;
		this.index = 0;
		this.resourceBeginningTime = 0;
		this.player = new Player(this);
	
		// Methods that act directly on the player
		this.play 		 = function() 		{ this.player.play(); };
		this.pause 		 = function() 		{ this.player.pause(); };
		this.isPlaying	 = function()		{ return this.player.isPlaying(); };
		
		this.setResource(0);
	}
	
	// Method that shows a resource (hides other player and shows the right one) if it exists
	Presentation.prototype.setResource = function(index)  { 
		if(index >= 0 && index < this.order.length) {
			this.index = index;
			var res = this.resources[this.order[index]];
			this.player.setResource(res);
			
			// Display
			$('#file_list li').removeClass('active');
			$('#addedRes_' + this.order[index]).addClass('active');
			$('#current-res-title').html(res['title']);
			$('#current-res-position').html(res['pov'] + ' - ' + res['level']);
			$('#current-res-creation').html(res['creation']);
			$('#current-res-update').html(res['update']);
			$('#current-res-description').html(res['description']);
		} 
	};
	
	Presentation.prototype.next = function() { this.setResource(this.index + 1); }
	Presentation.prototype.prev = function() { this.setResource(this.index - 1); }
	
	presentation = new Presentation(resourcesCollection, resourcesOrder);	
	
	/* ************************************************ */
	/* ****************BINDING CONTROLS**************** */
	/* ************************************************ */
	
	function indexOf(array, item) {
		for (var i = 0; i < array.length; i++) {
			if (array[i].toString() === item.toString()) return i;
		}
		return -1;
	}
	
	function togglePlay() {
		if(presentation.isPlaying()) {
			presentation.pause();
			span = $('#presentation-play-btn .glyphicon-pause');
			$(span).addClass('glyphicon-play');
			$(span).removeClass('glyphicon-pause');			
		}
		else {
			presentation.play();
			span = $('#presentation-play-btn .glyphicon-play');
			$(span).addClass('glyphicon-pause');
			$(span).removeClass('glyphicon-play');
		}
	}
	
	$('#presentation-play-btn').click(function()	  { togglePlay(); });
	$('#presentation-prev-btn').click(function()	  { presentation.prev(); });
	$('#presentation-next-btn').click(function()	  { presentation.next(); });
	$('#file_list .list-group-item').click(function() { presentation.setResource(indexOf(resourcesOrder, $(this).attr('data-id'))); });
	
	
	/* ************************************************ */
	/* ****************MANAGING FULLSCREEN************* */
	/* ************************************************ */
	
	// Find the right method, call on correct element
	// Courtesy http://davidwalsh.name/fullscreen
	function launchIntoFullscreen(element) {
		$('#additional-infos').hide();
		$('header').hide();
		if(element.requestFullscreen) {
			element.requestFullscreen();
		} else if(element.mozRequestFullScreen) {
			element.mozRequestFullScreen();
		} else if(element.webkitRequestFullscreen) {
			element.webkitRequestFullscreen();
		} else if(element.msRequestFullscreen) {
			element.msRequestFullscreen();
		}
		fullscreenMode = true;
	}

	function exitFullscreen() {
		$('#additional-infos').show();
		$('header').show();
		if(document.exitFullscreen) {
			document.exitFullscreen();
		} else if(document.mozCancelFullScreen) {
			document.mozCancelFullScreen();
		} else if(document.webkitExitFullscreen) {
			document.webkitExitFullscreen();
		}
		fullscreenMode = false;
	}
	
	</script>
{% endblock %}
